@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.mat-toolbar nav a {
    margin-right: 50px; 
    color: white;
    text-decoration: none; 
  }


  span{
    color:rgb(227, 242, 24);
    text-decoration: dotted;
  }