

  <section class="services">
      <h2>Our Services</h2>
      <div class="service-list">
        <div class="service-item">
          <img src="assets/GD.jpg" alt="mobilekernel">
          <h3>Software Developement </h3>
          <p>We create mobile apps for multiple platforms such as iOS and Android, utilizing frameworks like React Native or native development tools. Our goal is to design user-friendly and feature-packed applications that align with client requirements and provide an outstanding user experience. </p>
        <div class="service-item">
          <img src="assets/ed.jpg" alt="business apps">
          <h3>Software Testing and Quality Assurance</h3>
          <p>Ensuring software reliability and functionality, testing and quality assurance procedures to identify and rectify any bugs or issues, guaranteeing that the software performs optimally.  </p>
        </div>
        <div class="service-item">
          <img src="assets/wds.jpg" alt="Web Development">
          <h3>Web Development</h3>
          <p> We specialize in developing engaging and easy-to-use websites. Our expertise lies in backend development, where we utilize languages such as Python, Java, or PHP to implement server-side functionalities for seamless website operations.</p>
        </div>
      </div>
      </div>
    </section>
