/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.container{
    margin: 0 auto;
    max-width: 1500px;
    outline: 0px solid yellow;
}