html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(20, 100%, 99%); /* Set the background color for the entire page */
}

.welcome-section {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-section h1 {
  font-size: 30px;
  font-weight: bold;
}

.welcome-section p {
  font-size: 18px;
  text-align: center; /* Center-align the paragraphs */
  margin: 0 auto; /* Center the paragraphs horizontally */
  max-width: 600px; /* Limit the maximum width of the paragraphs */

}

.welcome-section button {
  padding: 10px 20px;
  background-color: #0c5ad0;
 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.mission-section {
  text-align: center;
}

.mission-section h2 {
  font-size: 24px;
  font-weight: bold; /* Make the headings bold */
  
}

.mission-section p {
  font-size: 16px;
  color:rgb(135, 80, 230);
  text-align: center; /* Center-align the paragraphs */
  margin: 0 auto; /* Center the paragraphs horizontally */
  max-width: 600px; /* Limit the maximum width of the paragraphs */
}


body{
  background-color: hsl(0, 0%, 100%);
}

h1,h2{
  color:rgb(19, 88, 249) 
}
p{
  color: rgb(135, 80, 230);
}