
<body>

<div class="welcome-section">
    <h1>Welcome to my portfolio website </h1>
    <p> This is my very first assignment of COMP229. 
      My development journey is still in progress and I have miles to go before I sleep.
      My professor in this semester is Urvish Patel and I'm looking forward to learn 
      from him.
    </p>
    <button routerLink="/contacts">Contact us</button>
    
  </div>
  
  <div class="mission-section">
    <h2>My Objective</h2>
    <p> To showcase my knwoledge and skills.</p>

    
  </div>
</body>
