<body>
  <div class="project">
    <h2>Project 1: Mobile App</h2>
    <p>Furthermore, I have actively participated in several projects, both during my academic pursuits and in my personal endeavors. These ventures have included the development of two captivating mobile gaming applications centered around the thrilling genre of battle royales.</p>
    <a href="project1.html">Learn more</a>
  </div>

  <div class="project">
    <h2>Project 2: School Project</h2>
    <p>A comprehensive time management application was developed specifically to cater to the needs of students and educators, facilitating efficient organization and scheduling of tasks and responsibilities.</p>
    <a href="project2.html">Learn more</a>
  </div>

  <div class="project">
    <h2>Project 3: Developing E-commerse Websites </h2>
    <p>A cutting-edge E-commerce application was meticulously crafted, providing a seamless platform for the sale and distribution of a wide range of diverse products.




    </p>
    <a href="project3.html">Learn more</a>
  </div>
</body>