html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.project {
  margin-bottom: 20px;
}
.project h2 {
  font-size: 18px;
  margin-bottom: 5px;
}
.project p {
  font-size: 14px;
  margin-bottom: 10px;
}
h2{
  color:rgb(19, 88, 249)
}
a{
  color: blue;
}

body{
  background-color: rgb(122, 202, 248);
  text-align: center; /* Align text content in the center of the page */
}


